@page "/bookDetails"
@page "/bookDetails/{id:int}"
@inject IBookService BookService
@inject NavigationManager NavigationManager

<h1>Book Details</h1>


<EditForm Model="@book">

    <table class="table">

        <tr>
            <td>Title: @book.Title</td>
            <td>
                <input class="form-control col-sm-4" type="text"
                       @bind="book.Title" />
            </td>
        </tr>

        <tr>
            <td>Title: @book.Author</td>
            <td>
                <input class="form-control col-sm-4" type="text"
                       @bind="book.Author" />
            </td>
        </tr>

        <tr>

            <td colspan="2" style="text-align:center">

                <input type="submit" value="Save" style="color: white; background-color: green" @onclick="async () => await SaveBook()"/>
                <input type="button" value="Cancel" style="color: white; background-color:tomato" @onclick="Cancel"/>

            </td>

        </tr>

    </table>


</EditForm>


@code {
    [Parameter]
    public int id { get; set; }


    private Book book = new Book();


        protected override async Task OnInitializedAsync()
        {
        if(id != 0)
    {
            book = await BookService.GetBookDetails(id);
    }
        }


        protected async Task SaveBook()
    {

        await BookService.SaveBook(book);
        NavigationManager.NavigateTo("/bookList");

    }


    protected void Cancel()
    {
        NavigationManager.NavigateTo("/bookDetails");
    }
}

